<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome to Sellit</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-grid class="authorization-wrap">
    <ion-row align-items-center [style.height.%]="100">
      <ion-col col-12>
        <img src="../../assets/Sellit.png">
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="loginModal()">Login</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="registrationModal()">Register</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
