<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{user?.username}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img [src]="user?.photo">
    <ion-card-content>
      <ion-item text-center>{{user?.email}}</ion-item>
      <ion-item text-center>{{serial}}</ion-item>
      <ion-item text-center>
        <button ion-button (click)="passwordModal()">Change Password</button>
      </ion-item>
      <ion-item text-center>
        <button ion-button (click)="photoModal()">Change Photo</button>
      </ion-item>
      <agm-map *ngIf="latLng" [latitude]="latLng?.lat" [zoom]="16" [longitude]="latLng?.lng">
        <agm-marker [title]="'U are here'" [latitude]="latLng?.lat" [longitude]="latLng?.lng"></agm-marker>
      </agm-map>
    </ion-card-content>
  </ion-card>
</ion-content>
