<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Update Your's Product</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="editForm" ion-row>
    <ion-item ion-col col-12>
      <ion-label floating>Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-item ion-col col-12>
      <ion-label floating>Price</ion-label>
      <ion-input formControlName="price" type="text"></ion-input>
    </ion-item>
    <ion-item ion-col col-12>
      <input type="file" #productPhotos>
    </ion-item>
    <ion-item *ngFor='let photo of photoUrls; let last = last; let i = index' class="preview-container__photo">
      <ion-icon (click)='deletePhoto(i)' name="close"></ion-icon>
      <img [src]="photo" alt="">
      <!--<i  *ngIf='i < oldPhotos.length' class="fa fa-minus-square-o deletephoto" aria-hidden="true"></i>-->
    </ion-item>
    <ion-item ion-col col-12>
      <div [froalaEditor]="editorOptions" id='description' formControlName="description"></div>
    </ion-item>
    <ion-item ion-col col-12 text-center no-lines>
      <button ion-button (click)="submitForm($event, productPhotos)">Update Product</button>
    </ion-item>
    <div class='preview-container'>

    </div>
  </form>
</ion-content>
