<ion-menu type="overlay" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button [disabled]="connection === 'none'" *ngIf="!user" ion-button full menuClose (click)="authorize()">Authorize</button>
      <ion-item *ngIf="user">
        <ion-thumbnail item-start>
          <ion-icon *ngIf="!user.photo" [style.font-size.px]="60" name="contact"></ion-icon>
          <img *ngIf="user.photo" [src]="user.photo" alt="">
        </ion-thumbnail>
        <h2>{{user.username}}</h2>
        <button *ngIf="user" ion-button color="danger" (click)="logout()">
          Logout
        </button>
      </ion-item>
      <button menuClose [disabled]="connection === 'none' && i === 1" ion-item *ngFor="let p of pages; let i = index;" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
