<ion-header>
  <ion-navbar>
    <ion-title>Change Photo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <img [src]="photo" alt="">
  </ion-item>
  <ion-item text-center>
    <button ion-button (click)="fromLibrary()">Upload from Library</button>
    <button ion-button (click)="fromCamera()">Make a photo</button>
  </ion-item>
    <ion-item ion-col col-12 text-center no-lines>
      <button ion-button (click)="addPhoto($event,photoInput)">Change</button>
      <button ion-button color="danger" (click)="closeModal()">Close</button>
    </ion-item>
</ion-content>
