<!--<ion-menu type="overlay" [content]="content">-->
  <!--<ion-header>-->
    <!--<ion-toolbar>-->
      <!--<ion-title>Menu</ion-title>-->
    <!--</ion-toolbar>-->
  <!--</ion-header>-->

  <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<button *ngIf="!user" ion-button full menuClose (click)="authorize()">Authorize</button>-->
      <!--<ion-item *ngIf="user">-->
        <!--<ion-thumbnail item-start>-->
          <!--<ion-icon *ngIf="!user.photo" [style.font-size.px]="60" name="contact"></ion-icon>-->
          <!--<img *ngIf="user.photo" [src]="user.photo" alt="">-->
        <!--</ion-thumbnail>-->
        <!--<h2>{{user.username}}</h2>-->
        <!--<button *ngIf="user" ion-button color="danger" (click)="logout()">-->
          <!--Logout-->
        <!--</button>-->
      <!--</ion-item>-->
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-list>-->
  <!--</ion-content>-->

<!--</ion-menu>-->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage"></ion-nav>
