<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add a new Product</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="addProductForm" ion-row>
    <ion-item ion-col col-12>
      <ion-label floating>Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-item ion-col col-12>
      <ion-label floating>Price</ion-label>
      <ion-input formControlName="price" type="text"></ion-input>
    </ion-item>
    <ion-item *ngFor="let photo of photos">
      <img  [src]="photo" alt="">
    </ion-item>
    <ion-item text-center ion-col col-12>
      <button ion-button (click)="fromLibrary()">Upload from Library</button>
      <button ion-button (click)="fromCamera()">Make a photo</button>
    </ion-item>
    <ion-item ion-col col-12>
      <div [froalaEditor]="editorOptions" id='description' formControlName="description"></div>
    </ion-item>
    <ion-item ion-col col-12 text-center no-lines>
      <button ion-button [disabled]="addProductForm.invalid" (click)="create($event)">Add Product</button>
    </ion-item>
  </form>
</ion-content>
