product-details{
  .swiper-slide img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
  .price-wrap{
    text-align: center;
  }
  .content__item{
    font-size: 16px;
    font-style: normal;
    color: #4a4a4a;
    margin-bottom: 1em;
  }
  .content__item_bold{
    font-weight: bold;
  }
  .content__item_italic{
    font-style: italic;
  }
  .content__item_maincolor{
    @extend .content__item_bold;
    color: #00b3be;
  }
  .content__item_green{
    @extend .content__item_bold;
    color: #91d763;
    font-size: 32px;
    margin-left: 15px;
  }
}
