<ion-header>
  <ion-navbar>
    <ion-title>{{product?.title}}</ion-title>
    <ion-buttons end *ngIf="user?.id === product?.author.id">
      <button ion-button (click)="openActionSheet()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <ion-slides pager>
      <ion-slide *ngFor="let photo of product?.photo_details">
        <img [src]="photo.photo">
      </ion-slide>
    </ion-slides>
      <ion-card-title>
        <p class="price-wrap">from <span class="content__item_maincolor">
          {{product?.author.username}}</span> <span class='content__item_green'>{{product?.price | currency:"USD":true}}</span>
        </p>
      </ion-card-title>
      <div [froalaView]="product?.description"></div>
  </ion-card>
</ion-content>
