<ion-header>
  <ion-navbar>
    <ion-title>New User</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="registrationForm" ion-row>
    <ion-item ion-col col-12>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item ion-col col-12>
      <ion-label floating>Username</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-item ion-col col-12>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item ion-col col-12>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input formControlName="confirm" type="password"></ion-input>
    </ion-item>
    <ion-item ion-col col-12 text-center no-lines>
      <button ion-button (click)="submit($event)">Register</button>
      <button ion-button color="danger" (click)="closeModal()">Close</button>
    </ion-item>
  </form>
</ion-content>
