<ion-card (click)="goToDetails()">
  <img [src]="product?.photo_details[0]?.photo"/>
  <ion-card-content>
    <ion-card-title>
      {{product.title}}
    </ion-card-title>
  </ion-card-content>
</ion-card>
